
html, body, #map {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family:"Trebuchet MS", Verdana, Arial, serif;
}

#panel {
	position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -400px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#tweet_count {
	padding-left: 5px;
}

form, #toggle {
	display:inline-block;
}