
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family:"Trebuchet MS", Verdana, Arial, serif;
}

#map {
	height: 90%;
	width: 100%;
}

#keyword_selector, form {
	height: 3%;
	width: 100%;
	padding-left: 10px;
}